# Analysis Exercises

## Exercise 1

In [5]:
# load the data
import pandas as pd
Location = "datasets/algebradata.csv"
df = pd.read_csv(Location)
df.head()

     Fname     Lname Gender Grade  Hours of Study
0     Mary  Ettienne      F     B              16
1  Charles    Looner      M     F               8
2    Betty  Franklin      F     A              24
3    Roger   Withers      M     C               5
4     John   Mulgrew      M     A               5

In [27]:
# find the percentage of studenst with a passing grade
# create pass and fail status
def status(x):
    if (x == "A") or (x == "B") or (x == "C"):
        return "Pass"
    else:
        return "Fail"
    
df["Status"] = df.Grade.apply(status)
passing = ((df["Status"] == "Pass").sum())
total = len(df.index)
(passing / total) * 100

69.16916916916917

In [39]:
# find the percentage of women with a passing grade
wom = df[df.Gender == "F"]
passing = ((wom["Status"] == "Pass").sum())
total = len(wom.index)
(passing / total) * 100

73.55212355212355

In [41]:
# average hours of study for all students
df["Hours of Study"].mean()

15.115115115115115

In [45]:
# average hours of study for students with a passing grade
df[df["Status"] == "Pass"]["Hours of Study"].mean()

16.29811866859624

## Exercise 2

In [49]:
# read in the data
import pandas as pd
Location = "datasets/axisdata.csv"
df = pd.read_csv(Location)
df.head()

,Fname,Lname,Gender,Hours Worked,SalesTraining,Years Experience,Cars Sold
0,Jada,Walters,F,39,N,3,2
1,Nicole,Henderson,F,46,N,3,6
2,Tanya,Moore,F,42,Y,4,6
3,Ronelle,Jackson,F,38,Y,5,3
4,Brad,Sears,M,33,N,4,2

In [52]:
# average cars sold per month per salesperson
df["Cars Sold"].mean()

3.9229229229229228

In [54]:
# max cars sold per month by a salesperson
df["Cars Sold"].max()

7

In [56]:
# min cards sold per month by a salesperson
df["Cars Sold"].min()

1

In [59]:
# average cars sold per gender
df.groupby("Gender")["Cars Sold"].mean()

Gender
F    3.760736
M    4.078431
Name: Cars Sold, dtype: float64

In [75]:
# average hours worked by people selling more than 3 cars per month
df2 = df[df["Cars Sold"] > 3]
df2["Hours Worked"].mean()

34.740237691001695

In [69]:
# average years of experience
df["Years Experience"].mean()

3.026026026026026

In [77]:
# average years of experience for people selling more than 3 cars
# per mont
df2["Years Experience"].mean()

3.0492359932088284

In [78]:
# average cars per month sorted by sales training
df.groupby("SalesTraining")["Cars Sold"].mean()

SalesTraining
N    3.573850
Y    4.168942
Name: Cars Sold, dtype: float64

Upon an informal first glance, sales training appears to be the best indicator of average cars sold per month. It has the biggest difference in average cars sold between the two populations of salespeople grouped together by their status on this variable.

## Exercise 3

In [80]:
# read in the data
import pandas as pd
Location = "datasets/parkinsons.csv"
pdata = pd.read_csv(Location)
pdata.head()

,Participant_code,Age,Gender,Fam_History_Parkinsons,Age_of_onset,Duration_from_first_symptoms,Antidepressants,Antiparkinsonian_meds,Antipsychotic_meds,Benzodiazepine_meds,...,AccelerationSpeechTiming,DurationPauseIntervals,DurationVoicedIntervals,GapingBTVoicedInterval,DurationUnvoicedStops,DecayUnvoicedFricatives,RelativeLoudnessRespiration,PauseIntPerResp,RateSpeechRespiration,LatencyRespExchange
0,PD,58,F,No,56.0,2.0,No,No,No,No,...,-2.82,158,318,49.01,22.37,0.588,-19.77,6.0,13.81,127
1,PD,68,F,No,67.0,1.0,No,No,No,No,...,8.20,295,264,40.56,26.88,-0.825,-23.26,4.0,21.77,313
2,PD,68,M,No,67.0,1.0,No,No,No,No,...,4.71,280,317,48.97,22.37,-0.955,-13.29,4.0,22.52,201
3,PD,75,M,No,73.0,2.0,No,No,No,No,...,-9.09,397,800,18.69,49.37,0.791,-25.08,2.0,14.37,151
4,PD,61,M,Yes,60.0,0.7,No,No,No,No,...,11.77,206,480,33.54,26.87,0.075,-22.32,5.0,14.61,151